@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

*{
    font-family: 'Outfit', sans-serif;
}

@theme {
    --color-primary: #5F6FFF;
}

/* Hide the scrollbar */
*::-webkit-scrollbar {
    display: none;
  }
  
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  